.chat-form {
    border-top: 1px solid #eee;
    display: flex;
    padding: 0.625rem;

    > input {
        border: 1px solid #eee;
        border-radius: 3px 0 0 3px;
        color: #777783;
        padding: 0.5rem 0.625rem;
        width: 100%;
    }

    > button {
        border: none;
        border-radius: 0 3px 3px 0;
        color: #fff;
        font-weight: 700;
        padding: 0.5rem 0.875rem;

        &:not([disabled]) {
            background-color: #8ad919;
            cursor: pointer;
        }
    }

    > input,
    > button {
        font-size: 0.875rem;
    }
}
